.add-your-photo__wrapper {
  background-color: @light-gray;

  &.container {
    padding: 20px 20px 40px;
  }
}

.add-your-photo__tabs-block {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 66px;
  padding-top: 37px;
  border-bottom: 1px solid @border-lightgray;
}

.tabs {
  position: relative;
}

.tab,
.tab-title {
  display: inline-block;
}

.tab input[type="radio"] {
  display: none;
}

.tab-title {
  padding: 5px 0;
  border-bottom: none;
  color: @dark-border-blue;

  &.selected {
    color: @link-color;
  }

  &.contast-icon {
    padding: 10px 0 0;
  }
}

.tab-content {
  position: absolute;
  left: 0;
  display: none;
  padding-top: 17px;
  width: 94%;
}

.tab-content.selected {
  display: block;
  text-align: center;
}

.tab:checked + .tab-title {
  top: 1px;
  z-index: 1;
}

.tab:checked ~ .tab-content {
  display: block;
  text-align: center;
}

.add-your-photo__submit,
.add-your-photo__cancellation {
  margin-top: 38px;
  width: 100%;
  border-color: @link-color;
  height: 55px;

  span {
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    color: @link-color;
  }
}

.add-your-photo__cancellation {
  margin-top: 12px;
  border-color: @dark-border-blue;

  span {
    color: @dark-border-blue;
  }
}

.add-your-photo__image {
  width: 100%;
}

input[type="range"] {
  width: 80%;
  margin: 10px 0 10px 20px;
  background-color: transparent;
  appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: @dark-border-blue;
  border: 0.2px solid #010101;
  border-radius: 2px;
  width: 100%;
  height: 2px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  margin-top: -7px;
  height: 14px;
  width: 14px;
  background: @white;
  border: 2px solid @link-color;
  border-radius: 14px;
  cursor: pointer;
  appearance: none;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: @dark-border-blue;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: @dark-border-blue;
  border-radius: 2px;
}

input[type="range"]::-moz-range-thumb {
  border: 2px solid @link-color;
  height: 14px;
  width: 14px;
  border-radius: 14px;
  background-color: @white;
  cursor: pointer;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: @dark-border-blue;
  order-radius: 4px;
}

input[type="range"]::-ms-fill-upper {
  background: @dark-border-blue;
  border-radius: 4px;
}

input[type="range"]::-ms-thumb {
  margin-top: 1px;
}

@media (min-width: @tablet-screen) {
  .add-your-photo__tabs {
    position: relative;
    margin: 0 5px 0 30px;
  }

  .add-your-photo__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

    &.container {
      padding: 57px 20px 54px;
    }
  }

  .add-your-photo__tabs-block {
    display: block;
    border: none;
    padding-top: 0;
    padding-bottom: 40px;
  }

  .add-your-photo__tab {
    display: flex;
    padding: 6px 0 19px;
    border-bottom: 1px solid @border-lightgray;

		&:nth-child(2) {
			padding: 23px 0 19px;
		}

    &:last-child {
			padding: 12px 0 17px;
    }

    &:last-child .tab-content {
			padding: 8px 0 0;
    }
  }

  .tab-content {
    display: block;
    text-align: center;
    position: static;
		padding: 0;
  }

  .tab-title {
    margin: 3px 0 0;
    padding: 0;

    svg {
      height: 24px;
      width: 22px;
			color: @link-color;
    }

    img {
      width: 100%;
    }
  }

	input[type="range"] {
		width: 83%;
		margin: 10px 0 10px 15px;
	}

	.add-your-photo__submit,
	.add-your-photo__cancellation {
		margin-top: 27px;
		width: 97%;
		border-color: #D22856;
		height: 55px;
		margin-bottom: 24px;
	}
}

@media (min-width: @desktop-screen) {
  .add-your-photo__wrapper {
    grid-gap: 90px;
    grid-template-columns: 300px auto;

    &.container {
			padding: 47px 66px 54px 79px;
    }
  }

	.add-your-photo__tabs {
		margin: 0;
	}

	.add-your-photo__image {
		margin-top: 10px;
	}

  .add-your-photo__tab {
    padding: 0 1px 8px;

		&:nth-child(2) {
			padding: 7px 0 8px;
		}

    &:last-child {
			padding: 0 0 0 5px;
			border: none;
    }

    &:last-child .tab-content {
			padding: 20px 0 0;
    }
  }

	.tab-content {
		padding: 16px 0;
	}

	.tab-title svg {
		height: 54px;
		width: 42px;
	}

	.tab-title.contast-icon svg {
		height: 58px;
		width: 46px;
	}

  .add-your-photo__form-block {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .add-your-photo__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    margin-top: auto;
  }

  .add-your-photo__submit,
  .add-your-photo__cancellation {
    margin: 0;
		width: 100%;
  }

  .tab-title {
    height: 44px;
    width: 44px;
  }
}
