.catalog-page-title {
  background-image: url("../../img/back-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: @dark-border-blue;
  padding-top: 66px;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/back-mobile@2x.png");
    background-size: 100%;
  }
}

.catalog-page-title__head {
  color: @white;
  padding: 31px 40px 76px;
  text-align: center;
  font-size: 24px;
  line-height: 32.68px;
  letter-spacing: -0.5px;
  margin: 0;
}

@media (min-width: @tablet-screen) {
  .catalog-page-title {
    padding-top: 101px;
    background-image: url("../../img/back-tablet.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/back-tablet@2x.png");
    }
  }

  .catalog-page-title__head {
    padding: 75px 132px 128px;
    font-size: 50px;
    line-height: 68px;
    letter-spacing: -1px;
  }
}

@media (min-width: @desktop-screen) {
  .catalog-page-title {
    background-image: url("../../img/back-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/back-desktop@2x.png");
    }
  }

  .catalog-page-title__head {
    padding: 69px 151px 88px;
  }
}
