.competition-block.container {
  padding: 0;
}

@media (min-width: @tablet-screen) {
  .competition-block {
    display: flex;
    flex-direction: column;

    &.container {
      padding: 0 20px;
    }
  }
}

@media (min-width: @desktop-screen) {
  .competition-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px 63px;

    &.container {
      padding: 0;
    }
  }
}
