.contact-info__wrapper {
  padding: 47px 40px 72px;
}
.contact-info__title {
  font-size: 24px;
  font-style: initial;
  text-align: center;
  padding-bottom: 45px;
}
.contact-info__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.contact-info__item {
  padding-bottom: 30px;
  a {
    display: block;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    font-style: initial;
    color: @link-color;
    text-decoration: none;
  }
}
.contact-info__item-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24.51px;
  text-align: center;
  font-style: initial;
}

