.contact-details {
  padding: 37px 0 20px;
}

.contact-details__input {
  display: flex;
  flex-direction: column;
}

.contact-details__wrapper {
  border: none;
}

.contact-details__label-title {
  color: @link-color;
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 21px;
}

.contact-details__legend {
  display: none;
}

.contact-details__input-text {
  border: 2px solid @border-lightgray;
  border-radius: 1px;
  margin: 12px 0 23px;
  outline: none;
  height: 64px;

  &:hover {
    border-color: @dark-border-blue;
  }

  &:active,
  &:focus {
    border-color: @link-color;
  }

  &[placeholder] {
    font-weight: 400;
    font-size: 18px;
    padding: 20px 18px;
    color: @dark-border-blue;
    opacity: 1;
  }

  &::placeholder {
    color: @dark-border-blue;
    opacity: 1;
  }
}


@media (min-width: @tablet-screen) {
  .contact-details {
    padding: 52px 0 17px;
    order: 3;
  }

  .contact-details__legend {
    display: block;
    padding: 0 20px;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: @link-color;
    text-align: center;
  }

  .contact-details__wrapper {
    border: 2px solid @border-lightgray;
    border-radius: 1px;
    background-color: @white;

    &.container {
      padding: 28px 56px 0;
    }
  }

  .contact-details__label-title {
    padding: 22px 17px 30px;
    font-weight: 400;
  }

  .contact-details__input {
    flex-direction: column-reverse;

    input[type="tel"] {
      background-image: url("../../img/phone-input.svg");
      background-repeat: no-repeat;
      background-position: right;
      background-size: contain;
    }

    input[type="email"] {
      background-image: url("../../img/mail-input.svg");
      background-repeat: no-repeat;
      background-position: right;
      background-size: contain;
    }
  }

  .contact-details__input-text {
    margin: 0;
  }

  .contact-details__input-text[placeholder] {
    padding: 20px 85px 20px 18px;
  }
}

@media (min-width: @desktop-screen) {
  .contact-details {
    padding: 0 2px;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .contact-details__input-text[placeholder] {
    padding: 20px 80px 20px 20px;
  }

  .contact-details__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .contact-details__wrapper.container {
    padding: 26px 56px 0;
  }

  .contact-details__input {
    width: 375px;
  }

  .contact-details__label-title {
    padding: 16px 19px 20px;
  }
}
