.contact-info {
  background-color: @white;
  padding: 37px 0 17px;
}

.contact-info__top-content {
  position: relative;

  &::after {
    content: "";
    display: block;
    background-color: @white;
    clip-path: polygon(50% 64%, 0 0, 100% 0);
    height: 50px;
    position: absolute;
    bottom: -49px;
    left: 0;
    width: 100%;
    z-index: 2;
  }
}

.contact-info__title {
  font-size: 24px;
  font-style: initial;
  text-align: center;
  padding-bottom: 36px;
  letter-spacing: -0.5px;
}

.contact-info__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-info__item {
  padding-bottom: 19px;

  a {
    display: block;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    font-style: initial;
    color: @link-color;
    text-decoration: none;
    word-break: break-all;
  }

  &:last-child a {
    word-break: break-word;
  }
}

.contact-info__item-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24.51px;
  display: block;
  text-align: center;
  font-style: initial;
}

.contact-info__google-map {
  height: 200px;
}

@media (min-width: @tablet-screen) {
  .contact-info__top-content::after {
    height: 90px;
    bottom: -90px;
    clip-path: polygon(50% 74%, 0 0, 100% 0);
  }

  .contact-info {
    padding: 45px 5px 0;
  }

  .contact-info__wrapper.container {
    padding: 0;
  }

  .contact-info__title {
    font-size: 40px;
    line-height: 54px;
    padding-bottom: 33px;
  }

  .contact-info__item-title {
    padding-bottom: 4px;
  }

  .contact-info__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .contact-info__item {
    width: 50%;
  }

  .contact-info__item:last-child {
    padding: 23px;
  }

  .contact-info__google-map {
    height: 374px;
  }
}

@media (min-width: @desktop-screen) {
  .contact-info__title {
    font-size: 50px;
    line-height: 67px;
    padding-bottom: 41px;
    letter-spacing: -1px;
  }

  .contact-info {
    padding: 60px 5px 0;
  }

  .contact-info__top-content::after {
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    height: 100px;
    bottom: -98px;
  }

  .contact-info__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding: 0 8px;
  }

  .contact-info__item-title {
    padding-bottom: 21px;
  }

  .contact-info__item {
    width: 100%;
  }

  .contact-info__item:first-child {
    order: 1;
  }

  .contact-info__item:last-child {
    order: 2;
    padding: 0 0 23px;
  }

  .contact-info__item:nth-child(2) {
    order: 3;
  }

  .contact-info__google-map {
    height: 502px;
  }
}
