.download-the-app {
  background-image: url("../../img/back-mobile.png");
  background-size: 120%;
  background-repeat: no-repeat;
  padding-top: 30px;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/back-mobile@2x.png");
    background-size: 100%;
  }
}

.download-the-app__wrapper {
  &.container {
    padding: 0;
  }
}

.download-the-app__slogan {
  color: @white;
  padding: 30px 40px;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 28.8px;
}

.download-the-app__image {
  img {
    margin: 0 auto;
    width: 100%;
    display: block;
  }
}

.download-the-app__bottom-side {
  background-color: @dark-blue;
  padding: 28px 21px 31px;
}

.download-the-app__download-bottom {
  text-decoration: none;

  span {
    text-align: center;
    display: block;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 14.5px;
  }

  &:hover {
    text-decoration: none;
  }
}

.download-the-app__os-list {
  list-style: none;
  padding: 0;
  margin: 32px 0 19px;
  display: flex;
  justify-content: space-evenly;
}

.apple-item-logo {
  padding-left: 3px;
}

.android-item-logo {
  padding-top: 6px;
}

.windows-item-logo {
  padding-top: 12px;
  padding-right: 2px;
}

.download-the-app__img-logo {
  height: 100%;
  object-fit: none;
}

.download-the-app__clarification {
  font-size: 14px;
  font-weight: 300;
  color: @white;
  text-align: center;
  padding: 0 20px;
  line-height: 24px;
}

@media (min-width: @tablet-screen) {
  .download-the-app {
    background-image: url("../../img/back-tablet.png");
    background-size: 100%;
    padding-top: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/back-tablet@2x.png");
    }
  }

  .download-the-app__image {
    padding-top: 74px;

    img {
      max-height: 545px;
      width: auto;
      margin-right: 0;
    }
  }

  .download-the-app__wrapper {
    position: relative;
  }

  .download-the-app__bottom-side {
    position: absolute;
    bottom: 83px;
    width: 52%;
    background-color: transparent;
  }

  .download-the-app__os-list {
    margin: 45px 0 30px;
  }

  .download-the-app__clarification {
    font-size: 18px;
    padding: 0;
  }

  .windows-item-logo {
    padding-top: 9px;
    padding-right: 17px;
  }

  .apple-item-logo {
    padding-left: 10px;
  }

  .download-the-app__top-side {
    padding-top: 110px;
  }

  .download-the-app__slogan {
    padding: 20px;
    position: absolute;
    top: 185px;
    left: 30px;
    width: 43%;
    font-size: 40px;
    font-weight: 300;
    line-height: 120%;
  }
}

@media (min-width: @desktop-screen) {
  .download-the-app {
    background-image: url("../../img/back-desktop.png");
    padding-top: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/back-desktop@2x.png");
    }
  }

  .download-the-app__top-side {
    padding-top: 200px;
  }

  .download-the-app__image {
    padding-top: 8px;
    padding-left: 15px;

    img {
      max-height: none;
      margin-right: 0;
    }
  }

  .download-the-app__slogan {
    width: 37%;
    left: -24px;
    top: 189px;
    font-size: 50px;
    line-height: 68px;
  }

  .download-the-app__download-bottom span {
    letter-spacing: 2px;
  }

  .apple-item-logo {
    padding-left: 11px;
    padding-bottom: 3px;
  }

  .android-item-logo {
    padding-top: 8px;
  }

  .windows-item-logo {
    padding-right: 13px;
    padding-top: 12px;
  }

  .download-the-app__bottom-side {
    width: 32%;
    padding: 0;
    bottom: 126px;
  }

  .download-the-app__os-list {
    margin: 68px 0 45px;
  }
}
