.download-the-app {
  background-image: url("../../img/back-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 66px;
}

.download-the-app__slogan {
  color: @white;
  padding: 30px 60px 35px;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 28.8px;
}

.download-the-app__image {
  img {
    margin: 0 auto;
    width: 100%;
    display: block;
  }
}

.download-the-app__bottom-side {
  background-color: @dark-blue;
  padding: 28px 20px 38px;
}

.download-the-app__download-bottom {
  text-decoration: none;

  span {
    text-align: center;
    display: block;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 13px;
  }
}

.download-the-app__os-list {
  list-style: none;
  padding: 0;
  margin: 38px 0;
  display: flex;
  justify-content: space-evenly;
}

.download-the-app__img-logo {
  height: 100%;
  object-fit: none;
}

.download-the-app__clarification {
  font-size: 14px;
  font-weight: 300;
  color: @white;
  text-align: center;
  padding: 0 20px;
}

@media (min-width: @tablet-screen) {
  .download-the-app__image {
    img {
      max-height: 645px;
      width: auto;
      margin-right: 60px;
    }
  }

  .download-the-app__wrapper {
    position: relative;
  }

  .download-the-app__bottom-side {
    position: absolute;
    bottom: 80px;
    width: 50%;
    background-color: transparent;
  }

  .download-the-app__top-side {
    padding-top: 110px;
  }

  .download-the-app__slogan {
    padding: 20px;
    position: absolute;
    top: 180px;
    width: 300px;
    font-size: 40px;
    font-weight: 300;
    line-height: 120%;
  }
}

@media (min-width: @desktop-screen) {
  .download-the-app__image {
    img {
      margin-right: 0;
    }
  }

  .download-the-app__bottom-side {
    width: 30%;
  }
}
