.label-title {
  color: @link-color;
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 21px;
}

.personal-information__input,
.contact-details__input {
  display: flex;
  flex-direction: column;
  margin: 0 2px;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  border: 2px solid @border-lightgray;
  border-radius: 1px;
  margin: 17px 0 29px;
  outline: none;

  &:hover {
    border-color: @dark-border-blue;
  }

  &:active,
  &:focus {
    border-color: @link-color;
  }
}

input[placeholder] {
  font-weight: 400;
  font-size: 18px;
  padding: 17px 20px;
  color: @dark-border-blue;
}

.form-submit-button {
  display: block;
  width: 276px;
  height: 59px;
  background-color: @submit-green;
  border: 2px solid @submit-green;
  border-radius: 1px;
  margin: 0 auto 46px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  outline: none;

  &:hover {
    background-color: @submit-hover-green;
    border-color: @submit-hover-green;
  }

  &:active {
    background-color: @submit-hover-green;
    border-color: @submit-hover-green;
    color: @white-opacity;
    outline: none;
  }
}

input[type="submit"][disabled="disabled"] {
  background-color: @border-lightgray;
}

@media (min-width: @tablet-screen) {
  .form-block {
    display: flex;
    flex-direction: column;
  }

  .personal-information {
    order: 1;
  }

  .selection-os {
    order: 2;
  }

  .contact-details {
    order: 3;
  }

  .travel-achievements {
    order: 4;
  }

  .user-emotions {
    order: 5;
  }

  .form-button-info {
    order: 6;
  }

  .personal-information__input {
    flex-direction: row;
  }

  .contact-details__input {
    flex-direction: column-reverse;
  }

  .label-title {
    padding: 35px 20px 0 0;
  }

  input[type="text"] {
    width: 100%;
  }
}

@media (min-width: @desktop-screen) {
  .form-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 69px 74px;
  }

  .contact-details,
  .travel-achievements,
  .user-emotions,
  .form-button-info {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
