.information-note-for-forms {
  margin-bottom: 18px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.information-note-for-forms__red-star {
  color: @link-color;
}

.form-submit-button {
  display: block;
  width: 100%;
  height: 63px;
  background-color: @submit-green;
  border: 2px solid @submit-green;
  border-radius: 1px;
  margin: 0 auto 34px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 0;

  &:hover {
    background-color: @submit-hover-green;
    border-color: @submit-hover-green;
  }

  &:active {
    background-color: @submit-hover-green;
    border-color: @submit-hover-green;
    color: @white-opacity;
    outline: none;
  }
}

.description-text {
  display: none;
}

@media (min-width: @tablet-screen) {
  .form-button-info {
    margin: 17px 0 45px;
    display: flex;
    justify-content: space-between;

    &.container {
      padding: 0 2px;
    }

    .form-submit-button {
      margin: 0;
    }
  }

  .information-note-for-forms {
    padding-top: 17px;
  }

  .form-submit-button {
    width: 48%;
  }
}

@media (min-width: @desktop-screen) {
  .form-button-info {
    width: 100%;
  }

  .form-button-info.container {
    margin-top: 54px;
  }

  .description-text {
    display: block;
    padding: 0 3px;
  }

  .form-button-info .form-submit-button {
    width: 300px;
  }
}
