.information-note-for-forms {
  text-align: center;
  display: block;
  margin-bottom: 26px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.information-note-for-forms__red-star {
  color: @link-color;
}

@media (min-width: @tablet-screen) {
  .form-button-info {
    margin: 70px 0 0;
    display: flex;
    justify-content: space-between;

    &.container {
      padding: 0 2px;
    }

    .form-submit-button {
      margin: 0;
    }
  }

  .information-note-for-forms {
    padding-top: 20px;
  }
}

@media (min-width: @desktop-screen) {
  .form-button-info {
    width: 100%;
  }
}
