.look-photos__wrapper {
  &.container {
    padding: 44px 35px 50px;
  }
}

.look-photos__text {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

@media (min-width: @tablet-screen) {
  .look-photos__wrapper {
    &.container {
      padding: 90px 50px 78px;
    }
  }

  .look-photos__text {
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-screen) {
  .look-photos__wrapper {
    &.container {
      padding: 90px 150px;
    }
  }
}
