.offers {
  background-color: @light-gray;
}

.offers__header {
  padding: 45px 0 32px;
  background-color: @white;
  position: relative;
}

.offers__header::after {
  content: "";
  display: block;
  background-color: @white;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 65%);
  height: 50px;
  position: absolute;
  bottom: -50px;
  width: 100%;
}

.offers__slogan {
  font-size: 24px;
  text-align: center;
  line-height: 28.8px;
  padding-bottom: 31px;
  letter-spacing: -0.5px;
}

.offers__slogan ~ .offers__slogan {
  padding-bottom: 0;
}

.offers__content {
  background-color: @light-gray;
  padding: 82px 0 0;
}

.offers__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.offers__item {
  text-align: center;
}

.offers__item-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding-bottom: 12px;
}

.offers__item-content {
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 31px;
}

.offers__image {
  padding-top: 10px;

  img {
    width: 156px;
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: @tablet-screen) {
  .offers__content {
    display: flex;
    flex-direction: row-reverse;
  }

  .offers__list {
    width: 43%;
    margin-left: 7%;
  }

  .offers__item {
    text-align: left;
  }

  .offers__image {
    width: 50%;

    img {
      width: inherit;
    }
  }
}

@media (min-width: @desktop-screen) {
  .offers__image {
    display: none;
  }

  .offers__list {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .offer {
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 301px;
  }

  .offer:first-child {
    background-image: url("../../img/tel1.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/tel1@2x.png");
      background-size: 120%;
    }
  }

  .offer:nth-child(2) {
    background-image: url("../../img/tel2.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/tel2@2x.png");
      background-size: 120%;
    }
  }

  .offer:last-child {
    background-image: url("../../img/tel3.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/tel3@2x.png");
      background-size: 120%;
    }
  }

  .offers__item-title,
  .offers__item-content {
    background-color: @light-gray;
  }

  .offers__item-title {
    padding: 59px 30px 35px;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
  }

  .offers__item-content {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
  }

  .offers__item {
    text-align: center;
    width: 252px;
  }
}
