.page-footer {
  padding: 37px;
}

.page-footer__logo {
  text-align: center;
  color: @dark-border-blue;
}

.page-footer__logo:hover {
  color: @link-color;
}

.page-footer__logo:active {
  color: @dark-border-blue;
  opacity: 0.3;
}

.logo-footer {
  color: @dark-border-blue;
}

.logo-footer:hover {
  color: @link-color;
}

.logo-footer:active {
  color: @dark-border-blue;
  opacity: 0.3;
}

.logo-footer-desktop {
  display: none;
}

.page-footer__social-list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 37px 0 30px;
  margin: 0;
}

.page-footer__social-item {
  height: 48px;
  width: 48px;
  display: block;
  border: 3px solid @light-gray;
  border-radius: 50%;

  a {
    text-align: center;
    display: block;
    padding: 13px;
  }

  .youtube-icon-link {
    padding: 13px 15px;
  }
}

.page-footer__social-item:hover {
  border-color: @dark-border-blue;
}

.page-footer__social-item:active {
  opacity: 0.3;
}

.html-academy-icon {
  color: @link-color;
}

.html-academy-icon:hover {
  color: @dark-border-blue;
}

.html-academy-icon:active {
  opacity: 0.3;
}

.page-footer__copyright {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.copyright__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  padding: 10px 0;
  margin-right: 10px;
}

@media (min-width: @tablet-screen) {
  .page-footer {
    padding: 37px 0;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .page-footer__social-list {
    padding: 0;
  }

  .page-footer__social-item {
    margin: 0 5px;
    height: 53px;
    width: 53px;
  }

  .page-footer__copyright {
    margin-left: 15px;
  }

  .copyright__text {
    padding: 8px 2px;
  }
}

@media (min-width: @desktop-screen) {
  .page-footer {
    padding: 66px 0;
  }

  .page-footer__wrapper {
    padding: 70px 0 80px;
  }

  .logo-footer-desktop {
    display: block;
  }

  .logo-footer-mobile {
    display: none;
  }

  .page-footer__social-list {
    margin-left: 20px;
  }

  .page-footer__social-item {
    margin: 0 3px;
  }

  .page-footer__social-item a {
    padding: 16px;
  }

  .page-footer__social-item .youtube-icon-link {
    padding: 17px 19px;
  }

  .copyright__text {
    padding: 8px 0;
    font-size: 18px;
  }
}
