.page-header {
  background-color: @dark-blue;
  display: flex;
  justify-content: space-between;
  padding: 23px 0;
  position: fixed;
  left: 0;
  right: 0;
  opacity: 0.7;
  z-index: 2;
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.page-header__logo {
  padding: 0;
  height: 23px;
  width: 75px;
}

.main-nav__wrapper {
  display: none;
}

.main-nav__toggle {
  background-image: url("../../img/open-menu-btn.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  border: none;
  border-radius: 0;
  height: 24px;
  width: 50px;
  background-color: transparent;
}

.page-header.main-nav--nojs,
.page-header.main-nav--opened {
  opacity: 1;
  background-color: @dark-border-blue;
  border-bottom: 1px solid @black;
  height: 69px;

  .main-nav__toggle {
    background-image: url("../../img/close-menu-btn.svg");
    background-size: auto;
  }

  .main-nav__wrapper {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 69px;
  }

  .main-nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .main-nav__item {
    font-size: 18px;
    font-weight: bold;
    background-color: @dark-border-blue;
    color: white;
    height: 63px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid @black;
  }

  a {
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
    text-decoration: none;
  }

  .page-header__logo {
    padding: 0;
  }
}

@media (min-width: @tablet-screen) {
  .page-header {
    padding: 27px 20px 43px;
  }

  .page-header__logo {
    height: 40px;
    width: 145px;
  }

  .main-nav__toggle {
    margin-top: 10px;
  }

  .page-header.main-nav--nojs,
  .page-header.main-nav--opened {
    height: 101px;

    .main-nav__wrapper {
      top: 101px;
    }
  }
}

@media (min-width: @desktop-screen) {
  .page-header,
  .page-header.main-nav--opened.main-nav--nojs {
    padding: 27px 0 30px;
    background-color: @dark-blue;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    opacity: 0.7;
    z-index: 2;
    border: none;
    height: 111px;

    .page-header__container {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }

    .main-nav {
      width: 70%;
    }

    .main-nav__toggle {
      display: none;
    }

    .main-nav__wrapper {
      display: block;
      position: static;
    }

    .main-nav__list {
      padding: 0;
      display: flex;
      justify-content: space-between;
      list-style: none;
      width: 100%;
      margin: 15px 0;
    }

    .main-nav__item {
      background-color: transparent;
      border: none;
      padding: 0;
    }

    .main-nav__item a {
      text-transform: unset;
      font-size: 18px;
      line-height: 18px;
      font-weight: 400;
      color: @white;
      text-decoration: none;
      padding: 5px 0 0;
      display: block;
    }
  }
}
