.personal-information__wrapper {
  border: none;
  padding: 0;
  margin: 0 0 18px;
}

.personal-information__input {
  display: flex;
  flex-direction: column;
}

.personal-information__input-text {
  border: 2px solid @border-lightgray;
  border-radius: 1px;
  margin: 12px 0 23px;
  outline: none;

  &:hover {
    border-color: @dark-border-blue;
  }

  &:active,
  &:focus {
    border-color: @link-color;
  }
}

.personal-information__input-text[placeholder] {
  font-weight: 400;
  font-size: 18px;
  padding: 20px 18px;
  color: @dark-border-blue;
}

.personal-information__input-text::placeholder {
  color: @dark-border-blue;
}

.personal-information__label-title {
  color: @link-color;
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 21px;
}

@media (min-width: @tablet-screen) {
  .personal-information {
    order: 1;
  }

  .personal-information__input {
    flex-direction: row;
  }

  .personal-information__wrapper.container {
    padding: 0;
  }

  .personal-information__input-text {
    width: 100%;
    margin: 12px 0 37px;
  }

  .personal-information__label-title {
    padding: 34px 18px 30px 0;
    font-weight: 400;
  }
}

@media (min-width: @desktop-screen) {
  .personal-information__input-text {
    margin: 18px 0 37px;
  }

  .personal-information__label-title {
    padding: 44px 16px 20px 2px;
  }

  .personal-information__input-text[placeholder] {
    padding: 19px 21px;
  }
}
