.photo-catalog__panorama {
  display: block;
}

.photo-catalog__list {
  margin: 0;
  list-style: none;
  padding: 0 20px;
}

.photo-catalog__item {
  margin-bottom: 20px;
}

.photo-catalog__content {
  padding: 25px 17px;
  background-color: @light-gray;
}

.photo-block {
  img {
    display: block;
    width: 100%;
  }
}

.photo-catalog__user-name {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 14px;
}

.photo-catalog__post-time {
  font-size: 12px;
  line-height: 24px;

  &::before {
    content: "(";
  }

  &::after {
    content: ")";
  }
}

.photo-catalog__user-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 23px;
}

.photo-catalog__like {
  display: flex;
}

.photo-catalog__like-icon {
  border: none;
  padding: 0 20px 0 0;
}

.photo-catalog__like-text {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: @link-color;
}

.photo-catalog__slogan {
  padding: 29px 20px 52px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
