.photo-catalog__panorama {
  display: block;
}

.photo-block__panorama {
  position: relative;

  .photo-catalog__content {
    margin: 0 20px 20px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 14px;
  }

  .photo-catalog__user-name {
    margin: 0;
  }

  .photo-catalog__user-text {
    grid-column-start: -1;
    grid-column-end: 1;
    order: 1;
    margin-bottom: 0;
  }

  .photo-catalog__like {
    margin-top: 7px;
  }
}

.photo-block__tag-wrapper {
  position: absolute;
  top: 0;
  pointer-events: none;
  right: 0;
  left: 0;
}

.photo-block__tag {
  font-weight: bold;
  font-size: 12px;
  line-height: 2;
  text-transform: uppercase;
  background-color: @link-color;
  padding: 13px 20px 14px;
  color: @white;
  float: right;
}

.photo-catalog__list {
  margin: 0;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
}

.photo-catalog__content {
  padding: 25px 17px;
  background-color: @light-gray;
  display: flex;
  flex-direction: column;

  &.container {
    padding: 25px 17px;
  }
}

.photo-block {
  img {
    display: block;
    width: 100%;
  }
}

.photo-catalog__user-name {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 14px;
}

.photo-catalog__post-time {
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  text-transform: uppercase;
  color: @dark-border-blue;

  &::before {
    content: "(";
  }

  &::after {
    content: ")";
  }
}

.photo-catalog__user-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 23px;
}

.photo-catalog__like {
  display: flex;
  margin-top: auto;
  border: none;
  background-color: transparent;

  img {
    width: auto;
  }
}

.photo-catalog__like-text {
  font-size: 12px;
  font-weight: 400;
  padding-left: 20px;
  text-transform: uppercase;
  color: @link-color;
}

.photo-catalog__slogan {
  padding: 29px 20px 52px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

@media (min-width: @tablet-screen) {
  .photo-catalog__list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px 20px;
  }

  .photo-catalog__content {
    height: 180px;
  }

  .photo-block__panorama {
    .photo-catalog__content {
      margin: 0 auto 50px;
    }
  }

  .photo-block__tag-wrapper {
    top: 57px;
  }

  .photo-catalog__item {
    margin: 0;
    background-color: @light-gray;
  }

  .photo-catalog__slogan {
    padding: 72px 119px 78px;
    font-weight: normal;
    font-size: 18px;
  }
}

@media (min-width: @desktop-screen) {
  .photo-catalog__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .photo-catalog__slogan {
    padding: 67px 119px 75px;
  }

  .photo-block__tag-wrapper {
    top: 54px;
  }
}
