.photo-catalog__panorama {
  display: block;
}

.photo-block__panorama {
  position: relative;
  margin: 0;

  .photo-catalog__content {
    margin: 0 20px 22px;
  }

  .photo-catalog__user-name {
    margin: 0;
  }

  .photo-catalog__user-text {
    margin-bottom: 8px;
  }

  .photo-catalog__like {
    margin-top: 7px;
    padding: 0;

    &.button {
      margin: 0;
    }
  }
}

.photo-block__tag-wrapper {
  position: absolute;
  top: 5px;
  pointer-events: none;
  right: 0;
  margin: 0;
}

.photo-block__tag {
  font-weight: bold;
  font-size: 12px;
  line-height: 2;
  text-transform: uppercase;
  background-color: @link-color;
  padding: 8px 20px 11px 19px;
  color: @white;
}

.photo-catalog__list {
  margin: 0;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 21px;
}

.photo-catalog__content {
  padding: 25px 17px;
  background-color: @light-gray;
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  &.container {
    padding: 19px 14px 23px 16px;
  }
}

.photo-block {
  margin: 0;

  img {
    display: block;
    width: 100%;
  }
}

.photo-catalog__user-name {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
}

.photo-catalog__post-time {
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  text-transform: uppercase;
  color: @dark-border-blue;

  &::before {
    content: "(";
  }

  &::after {
    content: ")";
  }
}

.photo-catalog__user-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 15px;
}

.photo-catalog__like {
  display: flex;
  margin-top: auto;
  border: none;
  background-color: transparent;
  color: @link-color;
  padding: 0;

  img {
    width: auto;
  }

  &:hover {
    background-color: transparent;
  }
}

.photo-catalog__like-text {
  font-size: 12px;
  font-weight: 400;
  padding-left: 20px;
  text-transform: uppercase;
  color: @link-color;
  margin: 0;
}

.photo-catalog__slogan {
  padding: 45px 20px 42px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
}

@media (min-width: @tablet-screen) {
  .photo-catalog__list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 22px 20px;
  }

  .photo-catalog__content.container {
    padding: 23px 30px 29px;
  }

  .photo-catalog__like {
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 0;
  }

  .photo-catalog__like-text {
    padding: 0;
  }

  .photo-block {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;

    a {
      display: flex;
      width: 100%;
    }
  }

  .photo-block__panorama {
    position: relative;

    a {
      display: block;
    }

    .photo-catalog__content {
      margin: 0 20px 51px;
      display: grid;
      grid-template-columns: 1fr auto;
      grid-gap: 0;
      padding: 24px 30px 23px 30px;
      grid-template-rows: min-content;
    }

    .photo-catalog__user-name {
      margin: 0;
    }

    .photo-catalog__user-text {
      grid-column-start: -1;
      grid-column-end: 1;
      order: 1;
      margin-bottom: 0;
    }

    .photo-catalog__like {
      margin-top: 7px;
      flex-direction: row-reverse;

      &.button {
        margin: 0;
      }
    }

    .photo-catalog__like-text {
      padding-right: 16px;
    }
  }

  .photo-block__tag-wrapper {
    top: 62px;
  }

  .photo-catalog__item {
    margin: 0;
  }

  .photo-catalog__slogan {
    padding: 91px 119px 69px;
    font-weight: normal;
    font-size: 18px;
  }

  .photo-catalog__user-text {
    margin-bottom: 15px;
  }
}

@media (min-width: @desktop-screen) {
  .photo-block__panorama {
    .photo-catalog__content {
      height: auto;

      &.container {
        margin: 0 auto 51px;
        padding: 24px 30px 22px 26px;
        width: 100%;
        min-height: inherit;
      }
    }
  }

  .photo-catalog__user-text {
    margin-bottom: 17px;
  }

  .photo-catalog__content.container {
    margin: 0;
    padding: 23px 26px 29px;
    min-height: 155px;
  }

  .photo-catalog__list {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 54px 20px;
  }

  .photo-catalog__slogan {
    padding: 57px 119px 68px;
  }

  .photo-block__tag-wrapper {
    top: 54px;
    left: 0;
    display: flex;
    justify-content: flex-end;
  }

  .photo-block__tag {
    padding: 6px 19px 6px 19px;
  }

  .photo-catalog__like {
    margin-right: 2px;
  }
}
