.price {
  background-color: @light-gray;
  padding: 100px 0;
}

.price__wrapper.container {
  padding: 0;
}

.price__wrapper .slides {
  margin: 0 auto;
}

th.price__title {
  background-color: @dark-border-blue;
  padding: 15px 0;
}

.hit-price {
  overflow: hidden;
}

.hit-price::before {
  content: "ХИТ";
  display: block;
  color: white;
  background-color: @link-color;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  transform: rotate(318deg);
  position: absolute;
  width: 120px;
  top: 10px;
  left: -30px;
}

h2.price__title {
  color: @white;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.price__option-name {
  display: none;
}

.price__option-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: @white;

  span {
    padding-top: 5px;
    text-transform: uppercase;
  }
}

.price__sum {
  color: @white;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}

.price__transparent-block {
  display: none;
}

.price__option-enable {
  background-image: url("../../img/yes.svg");
}

.price__option-disable {
  background-image: url("../../img/no.svg");
}

.price__option-enable,
.price__option-disable {
  display: block;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
}

@media (min-width: @tablet-screen) {
  .price__wrapper.container {
    padding: 0 20px;

    .slider__toggles {
      display: none;
    }
  }

  .price__title,
  .price__option-content,
  .price__option-name {
    width: 155px;
  }

  .price__wrapper.slider {
    width: 100%;
  }

  .price__transparent-block {
    display: block;
  }

  .price__option-name {
    background-color: @white;
    display: table-cell;
  }

  .price__option-value {
    background-color: @white;

    span:first-child {
      display: none;
    }
  }
}
