.price {
  background-color: @light-gray;
  padding: 100px 0;
}

.price__wrapper .slides {
  margin: 0 auto;
}

th.price__title {
  background-color: @dark-border-blue;
  padding: 20px 100px 35px;
}

h2.price__title {
  color: @white;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.price__option-name {
  display: none;
}

.price__sum {
  color: @white;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}

.price__transparent-block {
  display: none;
}

.price__option-enable {
  background-image: url("../../img/yes.svg");
}

.price__option-disable {
  background-image: url("../../img/no.svg");
}

.price__option-enable,
.price__option-disable {
  display: block;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
}

@media (min-width: @tablet-screen) {
  .price__transparent-block {
    display: block;
  }

  .price__option-name {
    background-color: @white;
    display: table-cell;
  }

  .price__option-value {
    background-color: @white;

    span:first-child {
      display: none;
    }
  }
}
