/* ___ Переменные ___ */
@mobile-side-offset: 20px;
@container-max-width: 940px + 2 * @mobile-side-offset;

.price {
  padding: 129px 0 50px;
}

.price__wrapper {
  max-width: 100%;
}

.price__table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

.price__tariff {
  background-color: @dark-border-blue;
  color: @white;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-transform: uppercase;
  padding: 14px 8px 26px;
  position: relative;
  overflow: hidden;
  border: 2px solid @border-lightgray;
  scroll-snap-align: start;
}

.price__price {
  font-weight: 300;
  margin: 0;
}

.price-dots {
  margin: 43px 0 0;
}

.price__option-content {
  display: flex;
  justify-content: space-between;

  span {
    text-transform: uppercase;
  }
}

.price__option-enable {
  background-image: url("../../img/yes.svg");
  display: block;
  height: 25px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.price__option-disable {
  background-image: url("../../img/no.svg");
  display: block;
  height: 25px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.price__hit-ribbon {
  background-color: @link-color;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;

  transform: rotate(-45deg) translate(-22px, -10px);
  width: 86px;
  font-weight: 300;
  font-size: 14px;
}

.price__feature,
.price__value {
  border: 2px solid @border-lightgray;
  height: 45px;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  background-color: @white;
  color: @dark-border-blue;
  padding: 13px 13px 15px 22px;
}

.price__feature {
  text-align: left;
}

.price__value {
  text-align: center;
}

.price__value-wrapper {
  display: flex;
  flex: wrap;
  align-items: center;
  text-transform: uppercase;
  justify-content: space-between;

  &::before {
    content: attr(data-feature);
  }
}

@media (min-width: @tablet-screen) {
  .price {
    background-color: @light-gray;
    padding: 95px 0 50px;
  }

	.price__tariff {
		padding: 14px 8px 12px;
	}

	.price__feature,
	.price__value {
		padding: 7px 16px 7px 16px;
	}

	.price__price {
		line-height: 24px;
		letter-spacing: 1px;
	}

	.price__hit-ribbon {
		top: 6px;
		left: 2px;
		font-size: 15px;
		line-height: 19px;
	}

  .price__dots {
    display: none;
  }

  .price__option-content {
    justify-content: center;

    span:first-child {
      display: none;
    }
  }
}

@media (min-width: @desktop-screen) {
	.price {
		padding: 155px 0 97px;
	}

	.price__tariff {
		font-size: 18px;
		padding: 14px 8px 26px;
	}

	.price__feature, .price__value {
		padding: 14px 16px 14px 20px;
		font-size: 18px;
	}

	.price__hit-ribbon {
		top: 9px;
		left: -4px;
		line-height: 23px;
		width: 110px;
	}

	.price__price {
		font-size: 22px;
	}
}

@media (max-width: @only-mobile-screen) {
  .price__wrapper {
    display: grid;
    grid-template-columns: 300% @mobile-side-offset; // и after чтобы не съедался отсуп справа
    scroll-padding: @mobile-side-offset;

    &::after {
      content: "";
      width: 100%;
      height: 100%;
    }
  }

  .price__empty-cell,
  .price__feature {
    display: none;
  }
}
