.selection-os__wrapper {
  border: none;
  background-color: @light-gray;

  &.container {
    padding: 42px 22px 4px;
  }
}

.selection-os__headign {
  font-weight: 400;
  text-transform: uppercase;
  color: @link-color;
  text-align: center;
  padding-bottom: 40px;
}

.selection-os__element input[type="radio"] {
  display: none;
}

.selection-os__element label {
  display: inline-flex;
  align-items: center;
  margin-bottom: 38px;
  font-size: 18px;
  font-weight: 400;
  color: #283645;
}

.selection-os__element label::before {
  content: "";
  display: inline-block;
  width: 37px;
  height: 37px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid @border-lightgray;
  border-radius: 50%;
  margin-right: 22px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: @white;
}

.selection-os__element {
  input[type="radio"]:checked + label::before {
    background-image: url("../../img/ellipse.svg");
    background-size: 50%;
    background-position: center;
    background-color: @white;
  }
}

@media (min-width: @tablet-screen) {
  .selection-os__headign.visually-hidden {
    position: static;
    opacity: 1;
    display: block;
    padding: 0 20px;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
  }

  .selection-os__headign {
    display: none;
  }

  .selection-os__wrapper {
    border: 2px solid @border-lightgray;
    border-radius: 1px;
    background-color: @white;
  }
}
