.slider__toggles {
  display: flex;
  justify-content: center;
}

.slider__toggle {
  display: inline-flex;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: @border-lightgray;
  margin: 13px;
}

.slider__toggle--current {
  border: 3px solid @dark-border-blue;
  height: 12px;
  width: 12px;
  background-image: none;
  background-color: white;
  margin: 10px;
}

.slider {
  width: 300px;
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: x mandatory;
}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.slides::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slider__item {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 300px;
  max-width: 100%;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
}

.slider > a:active {
  top: 1px;
}

@media (min-width: @tablet-screen) {
  .slider {
    width: 620px;
  }

  .slides {
    scroll-snap-points-x: repeat(620px);
  }

  .slider__item {
    width: 620px;
  }
}

@media (min-width: @desktop-screen) {
  .slider {
    width: 900px;
  }

  .slides {
    scroll-snap-points-x: repeat(900px);
  }

  .slider__item {
    width: 900px;
  }
}
