.tender-offer {
  background-image: url("../../img/back-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 66px;
}

.tender-offer__slogan {
  color: @white;
  padding: 36px 40px 51px;
  text-align: center;
  font-size: 24px;
  line-height: 32.68px;
}

@media (min-width: @tablet-screen) {
  .tender-offer__slogan {
    padding: 81px 20px 74px;
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
  }
}

@media (min-width: @desktop-screen) {
  .tender-offer__slogan {
    padding: 74px 20px 104px;
  }
}
