.travel-achievements__wrapper {
  padding: 42px 22px 44px;
  margin: 0;
  border: none;
  background-color: @light-gray;
}

.travel-achievements__headline {
  font-weight: 400;
  text-transform: uppercase;
  color: @link-color;
  text-align: center;
  padding-bottom: 44px;
}
