.travel-achievements__wrapper {
  margin: 0;
  border: none;
  background-color: @light-gray;
}

.travel-achievements__headline {
  font-weight: 400;
  text-transform: uppercase;
  color: @link-color;
  text-align: center;
  font-size: 14px;
  padding: 41px 20px 42px;
}

@media (min-width: @tablet-screen) {
  .travel-achievements__headline.visually-hidden {
    position: static;
    opacity: 1;
    display: block;
    width: auto;
    height: auto;
    padding: 0 20px;
    font-weight: normal;
    font-size: 14px;
    margin: 0;
    line-height: 30px;
    clip-path: inherit;
  }

  .travel-achievements__headline {
    display: none;
  }

  .travel-achievements__wrapper {
    border: 2px solid @border-lightgray;
    border-radius: 1px;
    background-color: @white;
    margin-top: 33px;

    &.container {
      padding: 40px 60px 0;
    }
  }
}

@media (min-width: @desktop-screen) {
  .travel-achievements__wrapper {
    &.container {
      padding: 40px 61px 10px;
    }
  }

  .travel-achievements {
    margin-top: 42px;
  }

  .travel-achievements__grid {
    display: grid;
    grid-template-columns: 300px 280px 207px;
    grid-template-rows: 77px;
    grid-gap: 5px 15px;
  }

  .travel-achievements__checkbox:first-child {
    order: 1;
  }

  .travel-achievements__checkbox:nth-child(3) {
    order: 2;
  }

  .travel-achievements__checkbox:nth-child(5) {
    order: 3;
  }

  .travel-achievements__checkbox:nth-child(2) {
    order: 4;
  }

  .travel-achievements__checkbox:nth-child(4) {
    order: 5;
  }

  .travel-achievements__checkbox:nth-child(6) {
    order: 6;
  }
}
