.user-emotions {
  padding: 38px 2px 49px;
}

.user-emotions__wrapper {
  border: none;
}

.user-emotions__headign {
  display: none;
}

.user-emotions__label {
  line-height: 18px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  display: block;
  padding-bottom: 16px;
  color: @link-color;
}

.user-emotions__textarea {
  box-sizing: border-box;
  width: 100%;
  height: 197px;
  resize: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  padding: 14px 17px;
  letter-spacing: 1px;
  border: 2px solid @border-lightgray;
  border-radius: 1px;
  margin: 12px 0 23px;
  outline: none;

  &:hover {
    border-color: @dark-border-blue;
  }

  &:active,
  &:focus {
    border-color: @link-color;
  }
}

.user-emotions__textarea::placeholder {
  color: @dark-border-blue;
}

.user-emotions__textarea[palceholder] {
  color: @dark-border-blue;
}

@media (min-width: @tablet-screen) {
  .user-emotions {
    padding: 56px 2px 49px;
  }

  .user-emotions__headign {
    display: block;
    padding: 0 20px;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: @link-color;
    text-align: center;
  }

  .user-emotions__label {
    display: none;
  }

  .user-emotions__textarea {
    padding: 14px 22px;
  }

  .user-emotions__wrapper {
    border: 2px solid @border-lightgray;
    border-radius: 1px;
    background-color: @white;

    &.container {
      padding: 30px 54px 44px;
    }
  }
}

@media (min-width: @desktop-screen) {
  .user-emotions {
    padding: 0 2px;
  }

  .user-emotions__wrapper.container {
    padding: 30px 54px 44px;
    margin-top: 42px;
  }

  .user-emotions__textarea {
    height: 124px;
    padding: 12px 25px;
  }
}
