.user-reviews {
  padding: 5px 0;
  position: relative;

  &::before {
    content: '';
    height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    top: -40px;
    background-color: @white;
  }
}

.user-reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-reviews__user-name {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 18px;
}

.user-reviews__user-description {
  display: none;
}

.user-reviews__user-text {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: @dark-border-blue;

  &::after {
    content: "»";
  }

  &::before {
    content: "«";
  }
}

@media (min-width: @tablet-screen) {
	.user-reviews:after {
		content: "";
		display: block;
		background-color: @white;
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 80%);
		height: 50px;
		position: absolute;
		bottom: -50px;
		width: 100%;
	}

	.user-reviews__wrapper.container {
		padding: 20px 20px 8px;
	}

  .user-reviews__item {
    display: flex;
    flex-direction: column;
  }

  .user-reviews__user-text {
    order: 1;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    padding-bottom: 37px;
  }

  .user-reviews__user-name {
    order: 2;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    padding-bottom: 0;
  }

  .user-reviews__user-description {
    display: block;
    text-align: center;
    order: 3;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
  }
}

@media (min-width: @desktop-screen) {
  .user-reviews__wrapper {
    display: grid;
    grid-template-columns: 30px auto 30px;
    align-items: center;
  }

	.user-reviews__wrapper.container {
		padding: 20px 0px 30px;
	}

	.user-reviews:after {
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
		height: 100px;
		bottom: -100px;
	}

  .user-reviews__user-name {
    font-size: 24px;
  }

  .user-reviews__user-description {
    font-size: 18px;
  }

	.user-reviews__user-text {
		padding: 0 50px 37px;
	}

  .user-reviews__item {
    background-image: url("../../img/quotes.svg");
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 119px;
  }
}
