@import "blocks/page-header.less";
@import "blocks/download-the-app.less";
@import "blocks/offers.less";
@import "blocks/user-reviews.less";
@import "blocks/price.less";
@import "blocks/contact-info.less";
@import "blocks/page-footer.less";
@import "colors.less";
@import "buttons.less";
@import "slider.less";

body {
  margin: 0;
}

.visually-hidden {
  display: none;
}

p,
b,
a,
span,
small,
blockquote,
h1,
h2,
h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin: 0;
}
