@import "slider.less";
@import "colors.less";
@import "checkbox.less";
@import "blocks/page-header.less";
@import "blocks/download-the-app.less";
@import "blocks/offers.less";
@import "blocks/user-reviews.less";
@import "blocks/price.less";
@import "blocks/contact-info.less";
@import "blocks/page-footer.less";
@import "blocks/buttons.less";
@import "blocks/tender-offer.less";
@import "blocks/personal-information.less";
@import "blocks/travel-achievements.less";
@import "blocks/contact-details.less";
@import "blocks/selection-os.less";
@import "blocks/user-emotions.less";
@import "blocks/information-note-for-forms.less";
@import "blocks/form-block.less";

body {
  margin: 0;
}

.visually-hidden {
  display: none;
}

p,
b,
a,
span,
small,
blockquote,
label,
h1,
h2,
h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin: 0;
}
